<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KutuphaneOtomasyonuEntities" connectionString="metadata=res://*/Others.SQLEntityModel.csdl|res://*/Others.SQLEntityModel.ssdl|res://*/Others.SQLEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NASE28F\SQLEXPRESS;initial catalog=KutuphaneOtomasyonu;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>